@import '../../components/Button/button.css';

.buttonIcon {
  background-color: transparent;
  margin: 0;
  text-align: center;
  flex: 0 0 auto;
  overflow: visible;
  color: var(--color-bg-primary);
  border-radius: var(--border-radius-m);
  padding: var(--space-xs);
  min-width: var(--space-xxxl);
  height: var(--space-xxxl);
}
.buttonIcon:hover {
  background-color: var(--color-bg-primary-ghost);
}
.buttonIcon svg {
  display: inline-block;
  fill: currentColor;
  user-select: none;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  font-size: 1.4rem;
}
