@import '../../components/Button/button.css';

.buttonIcon {
  border-radius: 100%;
  background: var(--color-bg-primary);
  color: var(--color-white);
  box-shadow: var(--shadow-box-2);
  width: var(--space-xxl);
  height: var(--space-xxl);
  min-width: var(--space-xxl);
  padding: 0;
}

.buttonIcon svg {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  font-size: 1.6rem;
}
