.container {
  padding-top: var(--space-xxxl);
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding-top {
  padding-top: var(--space-xxl);
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
