h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-text-bold);
  line-height: var(--font-line-height-m);
  margin: var(--space-m) 0;
  color: var(--color-secondary);
}
h1 {
  font-size: var(--size-text-xxl);
}
h2 {
  font-size: var(--size-text-xl);
}
h3 {
  margin: 0 0 var(--space-xs);
  font-size: var(--size-text-l);
}
h4 {
  font-size: var(--size-text-m);
  margin-bottom: var(--space-xxs);
}
h5 {
  font-size: var(--size-text-s);
  margin-top: 0;
  margin-bottom: var(--space-xxs);
}
h6 {
  font-size: var(--size-text-xs);
  color: var(--color-ghost);
  margin-bottom: var(--space-xxs);
  font-weight: var(--font-weight-text-light);
}
p {
  margin: 0;
  font-weight: var(--font-weight-text-light);
  font-size: var(--size-text-s);
  color: var(--color-ghost);
}
