.fieldContainer {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 250px;
  width: 450px;
  padding: 0;
  border: 0;
  margin: var(--space-xs);
  margin-bottom: var(--space-xl);
}
.fieldInputLabel {
  color: var(--color-bg-primary);
  font-size: var(--size-text-m);
  font-weight: var(--font-weight-text-light);
  line-height: var(--font-line-height-m);
  padding: 0;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(100% - var(--space-xl));
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: translate(14px, -11px) scale(.8);
}
.fieldInputContainer {
  color: var(--color-secondary);
  font-size: var(--size-text-s);
  font-weight: var(--font-weight-text-light);
  line-height: var(--font-line-height-m);
  position: relative;
  cursor: text;
  display: inline-flex;
  align-items: center;
  border-radius: var(--border-radius-m);
}
.fieldInput {
  font: inherit;
  letter-spacing: inherit;
  color: currentColor;
  border: 0;
  margin: 0;
  outline: 0;
  background: none;
  box-sizing: content-box;
  height: var(--font-line-height-m);
  display: block;
  width: 100%;
  padding: var(--space-m) var(--space-s);
}
.fieldFieldset {
  position: absolute;
  bottom: 0;
  right: 0;
  top: -6px;
  left: 0;
  margin: 0;
  padding: 0 var(--space-xs);
  pointer-events: none;
  border-radius: inherit;
  border: 2px solid var(--color-bg-primary);
  overflow: hidden;
  min-width: 0;
}
.fieldLegend {
  display: block;
  width: auto;
  padding: 0;
  height: var(--space-s);
  font-size: 1.1em;
  visibility: hidden;
  max-width: 100%;
}
